@use "../../styles/variables" as *;

.wrap {
  @include container;
  padding-bottom: 32px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 8px 0;
  border-top: 1px solid $color-border;
}

.copyright {
  font-size: 13px;
  color: $color-gray;
}
