@use "../../styles/variables" as *;

.section {
  @include container;
  // padding-bottom: $space-section;
  text-align: center;
}

.badge {
  @include pill-badge;
  margin-bottom: 32px;
}

.box {
  // border: 1px solid $color-border;
  // border-radius: $radius-lg;
  // background: $color-card;
  // box-shadow: $shadow-card;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.8fr 1fr;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}
